# PySpark Apache Sedona example

GraphFrame tutorials: https://graphframes.github.io/graphframes/docs/_site/user-guide.html

## Important notes

Make sure you run the following commands in your terminal to set up environment variables before start `jupyter-notebook --no-browser`. If you didn't do it, please kill your notebook in the termnal, run the commands and restart your notebook.

The first two are Spark paths. The last one is Python3 path.

```
export SPARK_HOME=/home/ubuntu/spark-3.0.3-bin-hadoop3.2
export PYTHONPATH=/home/ubuntu/spark-3.0.3-bin-hadoop3.2/PYTHON
export PYSPARK_PYTHON=/usr/bin/python3
```

**Your machine might have different Spark paths depending on your OS username and Spark location. Do NOT just copy/paste it blindly.**

**Your machine might have a different Python 3 path. You can find your Python3 path using `whereis python3` in the terminal. Usually the first one is the one you want.**

## Create Spark Session

In [1]:
from pyspark.sql import SparkSession
from sedona.register import SedonaRegistrator
from sedona.utils import SedonaKryoRegistrator, KryoSerializer
import geopandas as gpd

spark = SparkSession. \
    builder. \
    appName('Python Spark Apache Sedona example'). \
    master('local[*]'). \
    config("spark.serializer", KryoSerializer.getName). \
    config("spark.kryo.registrator", SedonaKryoRegistrator.getName). \
    config('spark.jars.packages',
           'org.apache.sedona:sedona-python-adapter-3.0_2.12:1.0.1-incubating,'
           'org.datasyslab:geotools-wrapper:geotools-24.1'). \
    getOrCreate()

SedonaRegistrator.registerAll(spark)

21/09/19 14:12:41 WARN Utils: Your hostname, JIAYU1AB6 resolves to a loopback address: 127.0.1.1; using 192.168.1.12 instead (on interface eth0)
21/09/19 14:12:41 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/ubuntu/spark-3.0.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Ivy Default Cache set to: /home/ubuntu/.ivy2/cache
The jars for the packages stored in: /home/ubuntu/.ivy2/jars
:: loading settings :: url = jar:file:/home/ubuntu/spark-3.0.3-bin-hadoop3.2/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml
org.apache.sedona#sedona-python-adapter-3.0_2.12 added as a dependency
org.datasyslab#geotools-wrapper added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-a35c5f88-76dd-4113-8091-8552a90f45fe;1.0
	confs: [default]
	found org.apache.sedona#sedona-python-adapter-3.0_2.12;1.0.1-incubating in central
	found org.locationtech.jts#jts-core;1.18.0 in central
	found org.wololo#jts2geojson;0.16.1 in central
	found com.fasterxml.jackson.core#jackson-databind;2.12.2 in central
	found com.fasterxml.jackson.core#jackson-annotations;2.12.2 in central
	found com.fasterxml.jackson.core#jackson-core;2.12.2 in central
	found org.apache.sedona#sedona-core-3.0_2.12;1.0.1-incubating in central
	found org.apache.sedona#sedona-sql-3.0_2.12;1.0.1-incubating in central
	found org.datasyslab#geotools-wrapper;geotools-24.1 in central
:: resolution report :: resolve 391ms :: artifacts dl 56ms
	:: modules in use:
	com.fasterxml.jackson.core#jackson-annotations;2.12.2 from central in [default]
	com.fasterxml.jackson.core#jackson-core;2.12.2 from central in [default]
	com.fasterxml.jackson.core#jackson-databind;2.12.2 from central in [default]
	org.apache.sedona#sedona-core-3.0_2.12;1.0.1-incubating from central in [default]
	org.apache.sedona#sedona-python-adapter-3.0_2.12;1.0.1-incubating from central in [default]
	org.apache.sedona#sedona-sql-3.0_2.12;1.0.1-incubating from central in [default]
	org.datasyslab#geotools-wrapper;geotools-24.1 from central in [default]
	org.locationtech.jts#jts-core;1.18.0 from central in [default]
	org.wololo#jts2geojson;0.16.1 from central in [default]
	:: evicted modules:
	org.locationtech.jts#jts-core;1.18.1 by [org.locationtech.jts#jts-core;1.18.0] in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   10  |   0   |   0   |   1   ||   9   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-a35c5f88-76dd-4113-8091-8552a90f45fe
	confs: [default]
	0 artifacts copied, 9 already retrieved (0kB/15ms)
21/09/19 14:12:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

True

## Cluster mode and pseudo mode

local[*] means pseudo mode with all available CPU cores.

You can use spark://IP-address , the URL you find from Spark web ui
to enable cluster mode, such as spark://JIAYU1AB6.localdomain:7077

The notebook under the cluster mode will distribute the computation tasks to your Spark cluster.

Make sure you shutdown and restart this notebook when switch mode

## Load state boundries in WKT TSV and convert WKT string column to a geometry column

Data source:

Ubuntu
`wget https://raw.githubusercontent.com/DataOceanLab/CPTS-415-Project-Examples/main/boundary-each-state.tsv`

MacOS
`curl -O https://raw.githubusercontent.com/DataOceanLab/CPTS-415-Project-Examples/main/boundary-each-state.tsv`

Pay attention to the longitude/latitude order in each record.

### More constructor examples: https://sedona.apache.org/api/sql/Constructor/

In [2]:
states_wkt = spark.read.option("delimiter", "\t").option("header", "false").csv("boundary-each-state.tsv").toDF("s_name","s_bound")
states_wkt.show()
states_wkt.printSchema()

states = states_wkt.selectExpr("s_name", "ST_GeomFromWKT(s_bound) as s_bound")
states.show()
states.printSchema()
states.createOrReplaceTempView("states")

+-------------+--------------------+
|       s_name|             s_bound|
+-------------+--------------------+
|       Alaska|POLYGON((-141.020...|
|      Alabama|POLYGON((-88.1955...|
|     Arkansas|POLYGON((-94.0416...|
|      Arizona|POLYGON((-112.598...|
|   California|POLYGON((-124.400...|
|     Colorado|POLYGON((-109.044...|
|  Connecticut|POLYGON((-73.4875...|
|     Delaware|POLYGON((-75.7919...|
|      Florida|POLYGON((-87.6050...|
|      Georgia|POLYGON((-85.6082...|
|       Hawaii|POLYGON((-154.628...|
|         Iowa|POLYGON((-95.7623...|
|        Idaho|POLYGON((-117.031...|
|     Illinois|POLYGON((-90.6290...|
|      Indiana|POLYGON((-87.5253...|
|       Kansas|POLYGON((-102.050...|
|     Kentucky|POLYGON((-89.5372...|
|    Louisiana|POLYGON((-94.0430...|
|Massachusetts|POLYGON((-72.7789...|
|     Maryland|POLYGON((-79.4778...|
+-------------+--------------------+
only showing top 20 rows

root
 |-- s_name: string (nullable = true)
 |-- s_bound: string (nullable = true)

+-------------+--------------------+
|       s_name|             s_bound|
+-------------+--------------------+
|       Alaska|POLYGON ((-141.02...|
|      Alabama|POLYGON ((-88.195...|
|     Arkansas|POLYGON ((-94.041...|
|      Arizona|POLYGON ((-112.59...|
|   California|POLYGON ((-124.40...|
|     Colorado|POLYGON ((-109.04...|
|  Connecticut|POLYGON ((-73.487...|
|     Delaware|POLYGON ((-75.791...|
|      Florida|POLYGON ((-87.605...|
|      Georgia|POLYGON ((-85.608...|
|       Hawaii|POLYGON ((-154.62...|
|         Iowa|POLYGON ((-95.762...|
|        Idaho|POLYGON ((-117.03...|
|     Illinois|POLYGON ((-90.629...|
|      Indiana|POLYGON ((-87.525...|
|       Kansas|POLYGON ((-102.05...|
|     Kentucky|POLYGON ((-89.537...|
|    Louisiana|POLYGON ((-94.043...|
|Massachusetts|POLYGON ((-72.778...|
|     Maryland|POLYGON ((-79.477...|
+-------------+--------------------+
only showing top 20 rows

root
 |-- s_name: string (nullable = true)
 |-- s_bound: geometry (nullable = false)

## Load city locations in CSV and convert the string column to a geometry column

Data source:

Ubuntu
`wget https://raw.githubusercontent.com/DataOceanLab/CPTS-415-Project-Examples/main/cities.csv`

MacOS
`curl -O https://raw.githubusercontent.com/DataOceanLab/CPTS-415-Project-Examples/main/cities.csv`

Pay attention to the longitude/latitude order in each record.

In [3]:
cities_csv = spark.read.option("delimiter", ",").option("header", "false").csv("cities.csv").toDF("c_name","c_loc")
cities_csv.show()
cities_csv.printSchema()

cities = cities_csv.selectExpr("c_name", "ST_PointFromText(c_loc, \'_\') as c_loc")
cities.show()
cities.printSchema()
cities.createOrReplaceTempView("cities")

+-------+--------------------+
| c_name|               c_loc|
+-------+--------------------+
|Pullman|-117.167126_46.73...|
|Phoenix|-112.092128_33.50...|
+-------+--------------------+

root
 |-- c_name: string (nullable = true)
 |-- c_loc: string (nullable = true)

+-------+--------------------+
| c_name|               c_loc|
+-------+--------------------+
|Pullman|POINT (-117.16712...|
|Phoenix|POINT (-112.09212...|
+-------+--------------------+

root
 |-- c_name: string (nullable = true)
 |-- c_loc: geometry (nullable = false)

## Find cities in each state. This is a join query.

### More predicate examples: https://sedona.apache.org/api/sql/Predicate/

In [4]:
city_per_state = spark.sql("select * from states s, cities c where ST_Contains(s.s_bound, c.c_loc)")
city_per_state.show()

21/09/19 14:12:51 WARN JoinQuery: UseIndex is true, but no index exists. Will build index on the fly.

+----------+--------------------+-------+--------------------+
|    s_name|             s_bound| c_name|               c_loc|
+----------+--------------------+-------+--------------------+
|Washington|POLYGON ((-123.32...|Pullman|POINT (-117.16712...|
|   Arizona|POLYGON ((-112.59...|Phoenix|POINT (-112.09212...|
+----------+--------------------+-------+--------------------+

## Calculate the distance from Seattle to each city

Seattle location: -122.313323 47.622715 found on Google Maps: 47°37'21.8"N 122°18'48.0"W

You can open Google Maps and randomly click a place to find its location. Pay attention to its longitude/latitude order.

The distance is not in any particular unit (kilometers, or miles) but it can still tell you how which city is closer to Seattle

### More function examples: https://sedona.apache.org/api/sql/Function/

In [5]:
dist_to_seattle = spark.sql("select c_name, ST_Distance(c_loc, ST_Point(-122.313323, 47.622715)) as dist from cities")
dist_to_seattle.show()

+-------+------------------+
| c_name|              dist|
+-------+------------------+
|Pullman|  5.22191398200746|
|Phoenix|17.428931546401486|
+-------+------------------+

## Convert Geospatial DataFrame to GeoPandas DataFrame for visualization

In [6]:
geopandas_df = gpd.GeoDataFrame(states.toPandas(), geometry="s_bound")
geopandas_df

            s_name                                            s_bound
0           Alaska  POLYGON ((-141.02050 70.01870, -141.72910 70.1...
1          Alabama  POLYGON ((-88.19550 35.00410, -85.60680 34.991...
2         Arkansas  POLYGON ((-94.04160 33.02250, -91.20570 33.007...
3          Arizona  POLYGON ((-112.59890 36.99930, -110.86300 37.0...
4       California  POLYGON ((-124.40090 41.99830, -123.62370 42.0...
5         Colorado  POLYGON ((-109.04480 37.00040, -102.04240 36.9...
6      Connecticut  POLYGON ((-73.48750 42.04980, -73.42470 42.051...
7         Delaware  POLYGON ((-75.79190 39.71880, -75.78370 39.521...
8          Florida  POLYGON ((-87.60500 30.99880, -86.56130 30.996...
9          Georgia  POLYGON ((-85.60820 34.99740, -84.72660 34.990...
10          Hawaii  POLYGON ((-154.62840 19.51580, -154.82350 19.8...
11            Iowa  POLYGON ((-95.76230 40.58480, -93.54450 40.578...
12           Idaho  POLYGON ((-117.03190 49.00000, -116.04860 49.0...
13        Illinois  POLYGON ((-90.62900 42.51160, -87.02130 42.492...
14         Indiana  POLYGON ((-87.52530 41.76110, -84.80900 41.761...
15          Kansas  POLYGON ((-102.05060 40.00340, -102.05060 40.0...
16        Kentucky  POLYGON ((-89.53720 36.49860, -89.30100 36.507...
17       Louisiana  POLYGON ((-94.04300 33.02250, -93.00480 33.017...
18   Massachusetts  POLYGON ((-72.77890 42.00030, -72.74050 42.033...
19        Maryland  POLYGON ((-79.47780 39.72200, -78.36000 39.722...
20           Maine  POLYGON ((-71.01290 45.34250, -70.95250 45.332...
21        Michigan  POLYGON ((-88.37130 48.30330, -87.60500 48.010...
22       Minnesota  POLYGON ((-96.45170 43.50080, -91.21950 43.501...
23        Missouri  POLYGON ((-91.74680 40.61810, -91.68090 40.559...
24     Mississippi  POLYGON ((-90.30490 35.00410, -88.19550 35.007...
25         Montana  POLYGON ((-111.05120 44.47500, -111.36840 44.7...
26  North Carolina  POLYGON ((-78.48500 33.79630, -79.67420 34.803...
27    North Dakota  POLYGON ((-104.05010 48.99550, -104.04460 45.9...
28        Nebraska  POLYGON ((-104.05430 42.99860, -104.05430 41.0...
29   New Hampshire  POLYGON ((-71.50450 45.01530, -71.49770 45.053...
30      New Jersey  POLYGON ((-74.69500 41.35720, -74.65590 41.339...
31      New Mexico  POLYGON ((-109.04480 36.99710, -109.04890 31.3...
32          Nevada  POLYGON ((-120.00370 41.99220, -117.96020 42.0...
33        New York  POLYGON ((-79.76240 42.51420, -79.06720 42.778...
34            Ohio  POLYGON ((-82.34250 38.43850, -82.29170 38.570...
35        Oklahoma  POLYGON ((-103.00510 37.00150, -103.00370 36.5...
36          Oregon  POLYGON ((-124.24440 46.25870, -124.03840 46.2...
37    Pennsylvania  POLYGON ((-80.51740 42.32610, -80.08210 42.396...
38    Rhode Island  POLYGON ((-71.05680 41.37060, -71.05410 41.370...
39  South Carolina  POLYGON ((-80.70010 32.04880, -80.89780 32.045...
40    South Dakota  POLYGON ((-104.05010 45.94350, -104.05290 43.0...
41       Tennessee  POLYGON ((-88.06780 36.67390, -87.85220 36.635...
42           Texas  POLYGON ((-106.57150 31.86590, -106.50420 31.7...
43            Utah  POLYGON ((-114.04910 36.99820, -109.04620 37.0...
44        Virginia  POLYGON ((-83.67530 36.60170, -83.56130 36.651...
45         Vermont  POLYGON ((-73.34270 45.01040, -73.18270 45.013...
46      Washington  POLYGON ((-123.32080 49.00230, -123.03380 49.0...
47       Wisconsin  POLYGON ((-90.63030 42.51160, -87.02410 42.495...
48   West Virginia  POLYGON ((-79.47650 39.71880, -79.48060 39.205...
49         Wyoming  POLYGON ((-104.05560 41.00370, -104.05840 44.9...